<div class="form-group">
  <label for="selectFormControl">Filter (Un)Read Articles</label>

  <select class="form-control form-control-sm" id="selectFormControl" (change)="onChange($event.target.value)">
    <option value="allArticles">All Articles</option>
    <option value="completedArticles">Read Articles</option>
    <option value="incompleteArticles" selected="selected">Unread Articles</option>
  </select>

</div>


<div class="row align-items-center"  *ngFor="let currentArticle of childArticleList | completeness:filterByCompleteness">
  <div class="col-5">
    <img class="imagethumb" src="assets/sm-{{currentArticle.picture}}">
  </div>
  <div class="col-7">
    <h4 class="link"><a (click)="readButtonClicked(currentArticle)">{{currentArticle.title}}</a>
      <input *ngIf="currentArticle.done === true" type="checkbox" checked (click)="toggleDone(currentArticle, false)"/>
      <input *ngIf="currentArticle.done === false" type="checkbox" (click)="toggleDone(currentArticle, true)"/>
    </h4>
  </div>
  <!-- <button (click)="readButtonClicked(currentArticle)" class ="btn btn-success">read</button> -->

</div>
