<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron">
    <img src="../assets/NYT-wordmark.png"  class="img-fluid">
    <!-- <h3>for {{month}}/{{date}}/{{year}}</h3> -->
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">{{month}}/{{date}}/{{year}} — Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  routerLink="about">About</a></li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="list">Articles</a></li>
      </ul>
    </div>
  </nav>


  <router-outlet></router-outlet>

  <div class="row">
    <div class="col-md-4">
      <div class="card left" style="width: auto; height: auto;">
        <app-article-list [childArticleList]="masterArticleList" (clickSender)="readArticle($event)"></app-article-list>
      </div>
    </div>
    <div class="col-md-8">
      <!-- <div class="card right" style="width: auto; height: auto;"> -->
        <app-article-read [childArticleRead]="selectedArticle"  (clickedDone)="finishedReading()"></app-article-read>
      <!-- </div> -->
    </div>
  </div> <!---end of ROW-->
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
