/* You can add global styles to this file, and also import other style files */
.card {
  padding: 10px;
  margin: 6px;
}
.card.left {
  padding: 10px;
  margin: 10px;
  float: left;
}
.card.right {
  padding: 10px;
  margin: 10px;
  float: right;
}

h1, h2, h3 {
    font-family: serif;
    font-weight: bold;
}

h4 {
    font-family: serif;
    font-weight: bold;
    font-size: 14px;

}

p {
  font-family: serif;
}

h4.link {
  font-family: sans-serif;
  color: blue;
  display: inline-block;
}
h4.link:hover {
  color: darkblue;
  text-decoration: underline;
  background-color: lightyellow;
  cursor: pointer;
  display: inline-block;
}

img {
  margin-bottom: 5px;
}
img.imagethumb {
  float: left;
  height: 136px;
  width: 136px;
}
